@{
    ViewData["Title"] = "Home Page";
}



<div class="list-group">
    <a href="@Url.Action("FarmerLogin", "Home")" class="list-group-item list-group-item-action">Login as Farmer</a>
    <a href="@Url.Action("EmployeeLogin", "Home")" class="list-group-item list-group-item-action">Login as Employee</a>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
